<div>
  <div class="row align-items-center">
    <h3 class="col mb-0 mt-1"> Übersicht </h3>
    <div class="btn-group col-auto">
      <button class="btn btn-primary" (click)="edit = !edit">
        <i class="bi bi-pencil"></i> {{ edit ? 'Speichern' : 'Bearbeiten' }}
      </button>
      <button class="btn btn-secondary" (click)="newInstructor()">
        <i class="bi bi-plus-lg"></i> Neu
      </button>
    </div>
  </div>
  <hr class="border border-dark">
</div>

<table>
  <thead>
  <tr>
    <th>Vorname</th>
    <th>Nachname</th>
    <th>Admin</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let instructor of instructors">
    <td>
      <div>
        <input type="text" [(ngModel)]="instructor.firstName" [disabled]="!edit">
      </div>
    </td>
    <td>
      <div>
        <input type="text" [(ngModel)]="instructor.lastName" [disabled]="!edit">
      </div>
    </td>
    <td>
      <div>
        <input type="checkbox" [(ngModel)]="instructor.isAdmin" [disabled]="!edit" class="ms-3">
      </div>
    </td>
    <td class="action">
      <div class="btn-group">
        <button class="btn m-0">
          <i class="bi bi-trash"></i>
        </button>
      </div>
    </td>
  </tr>
  </tbody>
</table>

