<div>
  <div class="row align-items-center">
    <h3 class="col mb-0 mt-1"> Login </h3>
  </div>
  <hr class="border border-dark">
</div>

<form (ngSubmit)="login()" class="login-form">

  <label for="firstName">Vorname</label>
  <input type="text" id="firstName" [(ngModel)]="instructor.firstName" name="firstName" required>

  <label for="lastName">Nachname</label>
  <input type="text" id="lastName" [(ngModel)]="instructor.lastName" name="lastName" required>

  <button type="submit" class="btn btn-primary">Login</button>

</form>
