@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";

.background {
  display: flex;
  flex-direction: column;
  background-color: #6C9A3B;
  font-family: Urbanist, sans-serif;
}

.banner {
  background-color: #C3833D;
  padding: 3vh 8vh;
  color: white;
  box-shadow: 0 6px 8px rgba(0,0,0,0.2);
  text-shadow: 0 6px 8px rgba(0,0,0,0.2);;
}

.card {
  background-color: #FFFFFF;
  border-radius: 50px;
  padding: 3vh 6vh;
  margin: 0 2vh 2vh;
  color: black;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  flex-grow: 1;
}

.nav {
  color: #314F23;
  padding: 2vh 8vh;
  text-shadow: 0 6px 8px rgba(0,0,0,0.2);;
}

.active {
  color: white;
  text-decoration: underline;
}

.btn-primary {
  background-color: #6C9A3B;
  color: white;
  border: none;
  border-radius: 20px;
}

.btn-primary:hover {
  background-color: #C3833D;
  border: none;
}

.btn-primary:active {
  background-color: #C3833D !important;
  border: none;
}

.btn-profile {
  background-color: #C3833D;
  color: white;
  border: none;
  border-radius: 20px;
}

.btn-profile:hover {
  background-color: #6C9A3B;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.nav-item:hover {
  cursor: pointer;
  text-decoration: underline;
}

.title:hover {
  cursor: pointer;
}
