@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";

.background {
  display: flex;
  flex-direction: column;
  background-color: #6C9A3B;
  font-family: Urbanist, sans-serif;
}

.banner {
  background-color: #C3833D;
  padding: 3vh 8vh;
  color: white;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  text-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);;
}

.card {
  background-color: #FFFFFF;
  border-radius: 50px;
  padding: 3vh 6vh;
  margin: 2vh;
  color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  flex-grow: 1;
}

.nav {
  color: #314F23;
  padding: 2vh 8vh 0;
  text-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);;
}

.active {
  color: white;
  text-decoration: underline;
}

.btn-primary {
  background-color: #6C9A3B;
  color: white;
  border: none;
  border-radius: 20px;
}

.btn-primary:hover {
  background-color: #C3833D;
  border: none;
}

.btn-primary:active {
  background-color: #C3833D !important;
  border: none;
}

.btn-profile {
  background-color: #C3833D;
  color: white;
  border: none;
  border-radius: 10px;
}

.btn-profile:hover {
  background-color: #6C9A3B;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nav-item:hover {
  cursor: pointer;
  text-decoration: underline;
}

.logout {
  background-color: red;
}

.logout:hover {
  background-color: darkred;
}

.btn-logout {
  color: white;
  border: none;
  border-radius: 10px;
}

.btn-logout:hover {
  color: white;
  background-color: #314F23;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-primary {
  border-radius: 10px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: start;
  border-radius: 10px;

  label {
    margin-top: 1rem;
    font-weight: bold;
  }

  input {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;

  th, td {
    padding: 12px 15px;
  }

  thead {
    color: #314F23;
    text-align: left;
    font-weight: bold;
    border-bottom: 2px solid #314F23;
  }

  tbody tr {
    border-bottom: 1px solid #dddddd;
  }

  tbody tr:hover {
    background-color: #f1f1f1;
  }

  .form-check-input {
    margin-top: 0.3rem;
    margin-left: 0;
  }

  .btn-group .btn {
    margin-right: 5px;
  }
}

.btn-secondary {
  background-color: #314F23;
}

.action {
  text-align: right;
}

.btn-group {
  display: inline-flex;
  justify-content: flex-end;
}
