<div class="background vh-100 vw-100">

  <div class="banner">
    <div class="row align-items-center">
      <div class="col">
        <h1 class="mb-0">Musikfabrik Yspertal</h1>
      </div>
      <div class="col-auto" [hidden]="login">
        <div class="row align-items-center btn-profile" (click)="navigateToProfile()">
          <h4 class="mb-0 col-auto" [class.active]="profile">{{ name }}</h4>
          <i class="bi bi-person-circle fs-3 col-auto ps-0"></i>
        </div>
      </div>
      <button type="button" class="btn btn-logout ms-2 col-auto" (click)="navigateToLogin()" [hidden]="login">
        <i class="bi bi-box-arrow-right fs-5"></i>
      </button>
    </div>
  </div>

  <nav class="nav" *ngIf="!login">
    <h2 class="me-5 mb-0 nav-item" [class.active]="project" (click)="navigateToProjects()">Projekte</h2>
    <h2 class="me-5 mb-0 nav-item" [class.active]="tn" (click)="navigateToTN()">Teilnehmer:innen</h2>
  </nav>

  <div class="card">
    <div>
      <div class="row align-items-center">
        <h3 class="col mb-0 mt-1"> {{ subtitle }} </h3>
        <button type="button" class="col-auto btn btn-primary" [hidden]="!project">
            <i class="bi bi-plus-lg"></i> Projekt
        </button>
      </div>
      <hr class="border border-dark">
    </div>

    <!-- The router outlet is where the component for the current route will be loaded -->
    <router-outlet></router-outlet>

  </div>

  <footer>
    <!-- You can add a footer here that will be displayed on all pages -->
  </footer>
</div>
